<div class="container">
  <div class="row debug-layout">
    <div class="col debug-layout">
      <ul class="nav nav-tabs nav-stacked">
        <li class="nav-item">
          <a
            [routerLink]="['']"
            [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{exact: true}"
            class="nav-link">
            Home
          </a>
        </li>
        <li class="nav-item">
            <a
            [routerLink]="['/servers']"
            [routerLinkActive]="'active'"
            class="nav-link">
            Servers
          </a>
        </li>
        <li class="nav-item">
            <a
            [routerLink]="['/users']"
            [routerLinkActive]="'active'"
            class="nav-link">
            Users
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row debug-layout">
    <div class="col debug-layout">
      <!--
        This component is controlled by the Angular Router. The Angular Router will
        replace the content <router-outlet> with registered Angular component for the
        url route.
      -->
      <router-outlet></router-outlet>
    </div>
  </div>

